body {
    background-image: url(https://cdn.pixabay.com/photo/2016/08/05/21/52/dj-1573332_1280.jpg);
}

header {
    text-align: center;
    margin-bottom: 20px;
    border: 4px dashed darkorange;
    background-color: lightgrey;
  }
  
  h1 {
    font-size: 32px;
    font-weight: bold;
  }

  header a {
    color:darkgreen;
  }

#drum-machine {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 2px solid #000000;
    padding: 0;
    border-radius: 5px;
    background-color: rgba(68, 189, 183, 0.5);
  }
  
  .drum-pad-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .drum-pad {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color:darkorange;
    margin: 10px;
    cursor: pointer;
    border: 4px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
  }
  
  .drum-pad:hover {
    transform: scale(1.1);
    background-color: #ff5555;
  }

  #display {
    margin: 20px;
    font-size: 24px;
    font-weight: bold;
    background-color: antiquewhite;
    padding: 0 50px;
  }
  
  #display-title {
    font-weight:bolder;
    background-color: rgb(215, 250, 232);
    padding: 0 50px;
  }

  #volume-control {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  
  #volume-slider {
    width: 200px;
  }
  
  .clip {
    display: none;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .drum-pad {
      width: 80px;
      height: 80px;
    }
    
    #volume-slider {
      width: 150px;
    }
  }
  
  @media (max-width: 576px) {
    .drum-pad {
      width: 60px;
      height: 60px;
    }
    
    #volume-slider {
      width: 120px;
    }
  }

footer {
    text-align: center;
    font-size:xx-large;
    padding: 20px;
    border: 5px dotted cadetblue;
    background-color: darkorange;
    margin-top: 20px;
}

a {
    color:navy;
}

.credit {
    text-align: center;
    margin: 50px;
    color:azure;
}

.credit a {
    color:darkorange;
}